/* General styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #2E2E2E; /* Dark background */
  color: #ECF0F1; /* Light text */
  margin: 0;
  padding: 0;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  margin: 100px;
  padding: 100px;
  box-sizing: border-box;
}

.App-container {
  width: 80%;
  max-width: 80px;
  display:flex; 
}

.App-header {
  background-color: #27AE60; /* Green header */
  padding: 20px;
  color: #ECF0F1; /* Light text */
  border-radius: 10px 10px 0 0;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 20px;
  background-color: #34495E; /* Dark card */
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.timer {
  font-size: 20px;
  padding: 10px;
  border: 2px solid #2ECC71; /* Light green border */
  border-radius: 5px;
  margin: 10px 0;
}

.timer.warning {
  color: red;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.question {
  background-color: #2ECC71; /* Light green background */
  color: #2E2E2E; /* Dark text */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  flex-grow: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.option {
  display: block;
  margin: 10px;
  padding: 10px;
  background-color: #27AE60; /* Green background */
  color: #ECF0F1; /* Light text */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
}

.option:hover {
  background-color: #229954; /* Darker green on hover */
}

.score {
  background-color: #2ECC71; /* Light green background */
  padding: 20px;
  border-radius: 10px;
}

.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
}

.dropdown-container-wrapper {
  background-color: #34495E;
  padding: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.dropdown-container div {
  margin: 0 10px 0;
}

select, button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

select {
  background-color: #2ECC71; /* Light green background */
  color: #2E2E2E; /* Dark text */
}

button {
  background-color: #2ECC71; /* Light green background */
  color: #2E2E2E; /* Dark text */
  cursor: pointer;
}

button:hover {
  background-color: #27AE60; /* Darker green on hover */
}

input {
  border-radius: 50px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px;
  background-color: #ECF0F1;
  align-items: center;
}

/* Custom checkbox styling */
input[type="radio"] {
  display: none; /* Hide the default radio button */
}

input[type="radio"] + label {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #ECF0F1;
  position: relative;
  cursor: pointer;
  vertical-align: middle; /* Align with text */
  margin-right: 10px; /* Space between checkbox and text */
}

input[type="radio"]:checked + label {
  border-color: #27AE60;
}

input[type="radio"]:checked + label::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #27AE60;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.option-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  margin-bottom: 10px; /* Space between options */
}
